---
---

<div>
  <p>중요한 개발 정보를 짧게 정리하여 핵심만 기록하고자 생성된 블로그입니다.</p>
  <ul class="mt-5">
    <li>
      <p>CS에 대해서 다룹니다.</p>
    </li>
    <li>
      <p>FE의 개발 지식에 대해서 다룹니다.</p>
    </li>
    <li>
      <p>BE의 개발 지식에 대해서 다룹니다.</p>
    </li>
    <li>
      <p>And ETC Thoughts & Dev Things.</p>
    </li>
    <li>
      <p>
        이 블로그는 <a href="https://github.com/citron03">citron03</a>과 <a
          href="https://github.com/rlguswn">rlguswn</a
        >에 의해서 관리중입니다.
      </p>
    </li>
    <li>
      <p>
        잘못된 정보가 있다면 제보해주세요. 우리는 주니어 개발자입니다. <a
          href="mailto:cchan0617@gmail.com">cchan0617@gmail.com</a
        >
      </p>
    </li>
  </ul>
</div>
